.add-eggs {
    margin: 20px;
}

.add-eggs label {
    padding-right: 10px;
}
.egg-size {
    margin: 10px;
}

.egg-type {
    margin: 10px;
}

button {
    border: 1px solid;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: tan;
    color: dark
}